@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar{
    width:9px;

}
::-webkit-scrollbar-track {
    border-radius: 0px;
}
::-webkit-scrollbar-track {
    background: #ffffff; 
}
::-webkit-scrollbar-thumb {
    background: #340064	; 
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #340064	; 

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

.logo:before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: .5s;
    color: #ffffff;
}

.logo span{
    display: block;
    transition: .5s;
}

.logo:hover:before{
    transform: translateX(0);
}

.logo:hover span{
    transform: translateX(100%);
}

.dropdown{
    display: none;
}

            /* Dropdown content (hidden by default) */
            .dropdown-content {
                display: none;
                position: absolute;
                background: linear-gradient(#6300c1,#43008100);
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(255, 0, 0, 0.2);
                z-index: 1;
                transform: translateY(7px) ;
                }
    
                /* Links inside the dropdown */
                .dropdown-content a {
                float: none;
                color: black;
                padding: 120px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                }
    
                /* Add a grey background color to dropdown links on hover */
                .dropdown-content a:hover {
                background: linear-gradient(#5900ac,#4700892e);
                }
    
                /* Show the dropdown menu on hover */
                .dropdown:hover .dropdown-content {
                display: block;
                }
    


body{
    height: 100vh;
    width: 100%;

    overflow: hidden;
}

  /*Loading تنسيق عنصر الأب لعنصر */
    #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    z-index: 999999;
    justify-content: center;
    align-items: center;
    }
    
  /*و إعطاء صورة متحركة له Loading تنسيق عنصر */
    #status {
        font-size: 50%;
    width: 450px;
    height: 450px;
    position: absolute;
    left: 41%;
    top: 30%;
    background-image: url(img/black.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    }


a{
    text-decoration: none;
    color: #fff;
}

.header{
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient( to top,#34006400,#53003a);
}

.e-header{
    color: #fff;
    background-image: linear-gradient(#41002d,#c8c8c8);
    filter: blur(1px); -webkit-filter: blur(2px);
    transition: .6s ease;
}
.e-header:hover{
    filter: blur(0px); -webkit-filter: blur(0px);
    transition: .5s ease;
}

header h2{
    font-size: 150%;
    transform: translateX(40px);
}
.logo{
    font-size: 40px;
    text-transform: uppercase;
    margin: 30px;
    transition: .3s;
    text-decoration: none;
    display: block;
    margin: 20px auto;
    position: relative;
    line-height: 36px;
    text-align: center;
    overflow: hidden;
}

.logo:hover{
    background-color: #fff;
    color: #00000000;
    border-radius: 20px;
    font-size: 150%;
}
.logo:before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateX(-100%) ;
    transition: .3s;
    color: #000000;
    align-items: center;
    justify-content: center;
    font-size: 80%;
}

.logo span{
    display: block;
    transition: .5s;
}

.logo:hover:before{
    transform: translateX(0);
}

.logo:hover span{
    transform: translateX(100%);
}


.ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    transform: translateX(px);
}

.ul li{
    margin: 20px 20px;
}



#dropdown-a:hover{
background: linear-gradient(#7200dd,#6900cc00);
}
#a,#dropdown-a{
    padding: 6px 15px;
    transition: .9s ease;
}

#a:hover {
    background-color: #fff;
    color: #510039;
    border-radius: 40px;
    transform: scale(1.1);
    font-size: 150%;
    transition: 0.9s ease
}


.activ{
    color: #ffffff;
    background-color: #81008c;
    border-radius: 40px;
    position: relative;
    line-height: 36px;
    text-align: center;
    overflow: hidden;
}


.logo:before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateX(-100%) ;
    transition: .3s;
    color: #000000;
    align-items: center;
    justify-content: center;
    font-size: 50%;
}

.logo span{
    display: block;
    transition: .5s;
}

.logo:hover:before{
    transform: translateX(0);
}

.logo:hover span{
    transform: translateX(100%);
}


.main{
    position: relative;
    height: 100vh;
    widows: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.main::after{
    content:normal ;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(#7408d8,#41002e);
}
.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
}

#boat{
    transform: translateX(-200px);
}
#moon{
    mix-blend-mode: screen;
    transform: translateX(-20px) translateY(80px);
}

#sun{
    mix-blend-mode: screen;
    transform: translateX(-500px) translateY(300px);
}



.code{
    color: #fff;
    font-size: 0px;
    text-transform: uppercase;
    transform: translateY(-110px) translateX(-20px);
    
}

.div::before{
    content:normal ;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(#7408d8,#41002e);
}
.div{
    color: #fff;
    padding: 30px;
    background: linear-gradient(#000,#340064);
}

.div h2{
    margin: 20px;
    font-size: 30px;
}
.e-header{
    background-image: linear-gradient(#41002d,#ffffff);
}
.div p{
    margin: 20px;
}

.main2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(#000000,#9e0081,#000) ;
    filter: blur(100px); -webkit-filter: blur(4.5px);
    transition: 1s ease;
}

.main2:hover{
    filter: blur(0px); -webkit-filter: blur(0px);
}


.bbb{
    transform: translatex(100px);
    position: absolute;
}

.main2 h2{
    color: #ffffff;
    font-size: 2em;
    font-weight: 500;
    transform: translateX(-25px);
}
.main2 h2 span{
    display: inline-block;
    margin-top: 10px;
    color: aqua;
    font-size: 3em;
    font-weight: 600;
    transform: translateX(-6px);
}

.main2 h3,h4{
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.mainbt{
    color: #ffffff;
    background-color: #a400d6;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.mainbt:hover{
    background-color: #65006032;
    transform: scale(1.1);
    transform: translateX(30px);
    font-size: 120%;

}


.social-icons a{
    color: #ffffff;
    font-size: 1.7em;
    padding-right: 30px;
}



.title{
    display: flex;
    justify-content: center;
    color: #0db0d1;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
}

.content{
    font-size:x-small ;
}

.card1{
    background-color: #ffffff;
    width: 21.25em;
    box-shadow: 0 5px 25px #414242;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card1:hover{
    background-color: #f0f0f0;
    transform: scale(1.1);
}

.icons{
    color: #000000;
    text-align: center;
    font-size: 8em;
    transform: translateY(20px);
}

.info h3{
    color: #0db0d1;
    font-size: 1.2em;
    font-size: 700;
    margin: 10px;
}

.info {
    text-align: center;
}

.info p{
    color: #000;
}

.projects{
    background-color: #00001600;
}

.projects .content{
    margin-top: 30px;
}


.p-card{
    background-color: #f0f0f0;
    border: 1px solid #ffffff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.5s ease;
}

.p-card:hover{
    transform: scale(1.1);
    background: linear-gradient(#8400ff,#3b01721c);
}

.p-card:hover .p-image{
    opacity: 0.9;
}
                .p-card-motafawqeen{
                    background-color: #f0f0f0;
                    border: 1px solid #ffffff;
                    min-height: 14em;
                    width: 23em;
                    overflow: hidden;
                    border-radius: 10px;
                    margin: 20px;
                    transition: 0.5s ease;
                }

                .p-card-motafawqeen:hover{
                    transform: scale(1.1);
                    background: linear-gradient(#2fff00,#1a8d0025);
                }
                .p-card-motafawqeen:hover .p-c{
                    color: #fff;
                }

                .p-card-motafawqeen:hover .p-image{
                    opacity: 0.9;
                }
                .p-card-abdalla{
                    background-color: #f0f0f0;
                    border: 1px solid #ffffff;
                    min-height: 14em;
                    width: 23em;
                    overflow: hidden;
                    border-radius: 10px;
                    margin: 20px;
                    transition: 0.5s ease;
                }


                .p-card-abdalla:hover{
                    transform: scale(1.1);
                    background: linear-gradient(#3730ff,#4827ff4e);
                }
                .p-card-abdalla:hover .p-c{
                    color: #fff;
                }

                .p-card-abdalla:hover .p-image{
                    opacity: 0.9;
                }

.p-image img{
    width: 100%;
}

.p-info{
    padding: 1em;
}

.p-c{
    font-size: 0.8em;
    color: #000;
}

.p-card:hover .p-c{
    font-size: 0.8em;
    color: #ffffff;
}

.p-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 1000;
    margin-top: -10px;
    color: #9c0075;
}

.details{
    text-decoration: none;
    color: #000000;
}

.details:hover{
    color: #250095;
}

.contact .info h3{
    color: #000;
}



.footer {
    background-color: #ffffff;
    color: #000000;
    padding: .9em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(50px) translateX(px);
    height: 80px;
    align-items: center;
    border-radius: 40px;
}

.footer-title {
    font-size: 1em;
    font-weight: 600;
}

.aa span{
    color: #3300b3;
}

.footer-title  {
    color: #4b0092;
}

.footer .social-icons a{
    font-size: 1.6em;
    padding: 0 12px 0 0;
    color: #000;
}
#h2,#h1{
    transform: translateX(50px);
}
a{
    text-decoration: none;
}

.title-offline{
    font-size: 50px;
}

.ul-offline{
    position: relative;
    left: 25px;
}

.reload{
    position: relative;
    left: 6px;
    padding: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: #666;
    color: #fff;
    border-radius: 30px;
    cursor:pointer;
}

.hide{
    display: none;
}

.off-body{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width:1200px){
    header{
        font-size: 40px;
    }
.online{
    display: block;
}
.offline{
    display: none;
}
.logo{
    font-size: 100px;
}
.main img{
    object-fit: cover;
}
.dropdown{
    display: block;
    border-style: solid;
    border-width: 4px;
    border-color: #fff;
    padding: 1px 15px;
    font-size: 100%;
}
#hidden,#h2{
    display: none;
    transform: translateX(-10px);
}
#h1{
    transform: translateX(-35px);
}
.dropdown-content{
    transform: translateY(-1px) translateX(-100px);
}
.ul{
    transform: translateX(-40px);
}

    .navigation a{
        padding-left: 100px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main2-content h2{
        font-size: 1em;
    }

    .main2-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: row;
        align-items: center;
    }

}
#contact{
    font-size: 12px;
}


@media (max-width:641px){
    body{
        font-size: 12px;
    }


    .main2-content h2{
        font-size: 0.8em;
    }

    .main2-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:363px){
    body{
        font-size: 10px;
    }
    #move{
        font-size: 1000px;
    }

    .dropbtn{
        display: block;
    }
}



